/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    height: 110px;
    transition: all 0.5s;
    z-index: 997;
    background: #0077b6;
  }
  
  .header.sticked {
    height: 70px;
  }
  
  .header .logo img {
    max-height: 100px;
    margin-right: 6px;
  }
  
  